<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>订单中心</title>
		<link href="mui/mui.min.css" type="text/css" rel="stylesheet">
		<link href="css/common.css" type="text/css" rel="stylesheet">
		<link href="css/swiper.min.css" type="text/css" rel="stylesheet">
		<link href="css/main.css" type="text/css" rel="stylesheet">
	</head>

	<body class="My_order">
		<nav>
			<span class="border"></span>
			<ul>
				<li class="selected">全部</li>
				<li>预配中</li>
				<li>待收货</li>
				<li>退换货</li>
			</ul>
		</nav>
		<div class="orderList">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="all">
							<!--<section>
								<h3><p>订单号<span>201812457894654</span></p><p>交易成功</p></h3>
								<div class="shoppingList">
									<ul>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
									</ul>
									<a href="order_details.html">
										<p>查看详情</p>
									</a>
								</div>
								<div class="bottom">
									<p>合计:<span>¥52.00</span></p><button>删除订单</button>
								</div>
							</section>
							<section>
								<h3><p>订单号<span>201812457894654</span></p><p>交易成功</p></h3>
								<div class="shoppingList">
									<ul>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
									</ul>
									<a href="order_details.html">
										<p>查看详情</p>
									</a>
								</div>
								<div class="bottom">
									<p>合计:<span>¥52.00</span></p><button>删除订单</button>
								</div>
							</section>
							<section>
								<h3><p>订单号<span>201812457894654</span></p><p>交易成功</p></h3>
								<div class="shoppingList">
									<ul>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
									</ul>
									<a href="order_details.html">
										<p>查看详情</p>
									</a>
								</div>
								<div class="bottom">
									<p>合计:<span>¥52.00</span></p><button>删除订单</button>
								</div>
							</section>
							<section>
								<h3><p>订单号<span>201812457894654</span></p><p>交易成功</p></h3>
								<div class="shoppingList">
									<ul>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
									</ul>
									<a href="order_details.html">
										<p>查看详情</p>
									</a>
								</div>
								<div class="bottom">
									<p>合计:<span>¥52.00</span></p><button>删除订单</button>
								</div>
							</section>
							<section>
								<h3><p>订单号<span>201812457894654</span></p><p>交易成功</p></h3>
								<div class="shoppingList">
									<ul>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
									</ul>
									<a href="order_details.html">
										<p>查看详情</p>
									</a>
								</div>
								<div class="bottom">
									<p>合计:<span>¥52.00</span></p><button>删除订单</button>
								</div>
							</section>-->
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dfh">
							<!--<section>
								<h3><p>订单号<span>201812457894654</span></p><p>交易成功</p></h3>
								<div class="shoppingList">
									<ul>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
									</ul>
									<p>查看详情</p>
								</div>
								<div class="bottom">
									<p>合计:<span>¥52.00</span></p><button>删除订单</button>
								</div>
							</section>-->
						</div>
					</div>
					<div class="swiper-slide">
						<div class="dsh">
							<!--<section>
								<h3><p>订单号<span>201812457894654</span></p><p>交易成功</p></h3>
								<div class="shoppingList">
									<ul>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
										<li><img src="img/exaple/1234165464.jpg"></li>
									</ul>
									<p>查看详情</p>
								</div>
								<div class="bottom">
									<p>合计:<span>¥52.00</span></p><button>删除订单</button>
								</div>
							</section>-->
						</div>
					</div>
					<div class="swiper-slide">
						<div class="ywc">
							
						</div>
					</div>
				</div>
			</div>

		</div>
		<script type="text/html" id="template1">
			{{each listdata}}
			<section>
				<h3><p>订单号<span>${$value.orderid}</span></p>
					{{if $value.status==20}}
					<p>预配中</p>
					{{else ($value.status==30)}}
					<p>待发货</p>
					{{else ($value.status==50)}}
					<p>待收货</p>
					{{else ($value.status==60)}}
					<p>已完成</p>
					{{else ($value.status==70)}}
					<p>已取消</p>
				  {{/if}}
				</h3>
				<div class="shoppingList">
					<ul>
						{{each(i,m) $value.goodslist}}
						{{if i<3}}
						<li><img src="${m.goods_detail.data_json.pic}"></li>
						{{/if}}
						{{/each}}
					</ul>
					<a href="order_details.html?&did=${$value.id}">
					<p>查看详情</p>
					</a>
				</div>
				<div class="bottom">
					<p>合计:<span>¥${$value.order_price_total}</span></p>
					
					{{if $value.status==20}}
					<button>取消订单</button>
					{{else ($value.status==30)}}
					
					{{else ($value.status==50)}}
					<button>确认收货</button>
					{{else}}
					<button>删除订单</button>
				  {{/if}}
					
				</div>
			</section>
			{{/each}}
		</script>
			<script type="text/html" id="template3">
			{{each listdata}}
			<section>
				<h3><p>订单号<span>${$value.orderid}</span></p>
					{{if $value.status==1}}
					<p>待审核</p>
					{{else ($value.status==2 || $value.status==4)}}
					<p>审核成功</p>
					{{else ($value.status==3)}}
					<p>审核失败</p>
					{{else ($value.status==5)}}
					<p>退货成功</p>
					{{else ($value.status==6)}}
					<p>退货失败</p>
				  {{/if}}
				</h3>
				<div class="shoppingList">
					<ul>
						{{each(i,m) $value.orders.goodslist}}
						{{if i<3}}
						<li><img src="${m.goods_detail.data_json.pic}"></li>
						{{/if}}
						{{/each}}
					</ul>
					<a href="order_details.html?&did=${$value.orders.id}">
					<!--<p>查看详情</p>-->
					</a>
				</div>
				<div class="bottom">
					<p>应退金额:<span>¥${$value.money}</span></p>
					<a href="Th_schedule.html?id=${$value.id}"><button>查看进度</button></a>		
				</div>
			</section>
			{{/each}}
		</script>
		<script type="text/html" id="template2">
			<div class="empty">
				<div class="sky_img"><img src="img/no_order.png"></div>
				<p>您当前还没有订单信息哟</p>
			</div>
		</script>
		<script src="js/jquery.min.js"></script>
		<script src="js/commonfuc.js"></script>
		<script src="js/app_init.js"></script>
		<script src="js/fastclick.js"></script>
		<script src="js/swiper.min.js"></script>
		<script src="mui/mui.min.js"></script>
		<script src="js/ajax/My_order.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
	</body>

</html>