@charset "utf-8";
/* CSS Document */
/*@font-face {
    font-family: "PingFang SC Medium";
    src:url("../fonts/PingFang Medium.woff") format("woff");
}*/
html,body{color:#333333;font-family:"PingFang SC Medium" !important;padding: 0;margin: 0;line-height: inherit;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,th,td,button{margin:0;padding:0;outline:none;list-style:none;font-family:"PingFang SC Medium" !important;}
a,a:hover,a:active,a:visited,a:link,a:focus{color:#333333;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;background: none;text-decoration:none;outline:none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);overflow-y:visible;}
/*webkit scrollbar css*/
::-webkit-scrollbar{width:0px;height:0px;}
::-webkit-scrollbar-track{background-color:rgba(255,255,255,0);}
::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,0);}
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,0);}
/*初始化*/

.mui-bar{background-color:rgba(255,255,255,1);-webkit-box-shadow:0 1px 6px #eeedea;box-shadow:0 1px 6px #eeedea;}
.mui-bar h1{color:#333333;}
.mui-bar .mui-tab-item.mui-active{color:#e02e24;}
.footer .mui-icon{font-size: 0;}
.footer .mui-icon:before{content: '';}
.footer .mui-icon{background-size: 100% auto;background-repeat: no-repeat;background-position: center center;}
.footer .mui-icon-home{background-image: url(../images/foot_1-1.png);}
.footer .mui-icon-classfy{background-image: url(../images/foot_2-1.png);}
.footer .mui-icon-trolley{background-image: url(../images/foot_3-1.png);}
.footer .mui-icon-mine{background-image: url(../images/foot_4-1.png);}
.footer .mui-active .mui-icon-home{background-image: url(../images/foot_1-2.png);}
.footer .mui-active .mui-icon-classfy{background-image: url(../images/foot_2-2.png);}
.footer .mui-active .mui-icon-trolley{background-image: url(../images/foot_3-2.png);}
.footer .mui-active .mui-icon-mine{background-image: url(../images/foot_4-2.png);}
.footer .mui-badge.hide{display:none;}
