.pass_right {
	border-right: 1px solid #e2e2e2;
}
#password {
	display: table;
	width: 96%;
	margin: 0 auto;
}

#password .pass {
	position: relative;
	display: table-cell;
	border-radius: 0;
	text-indent: -9999px;
	font-size: 0px !important;
	text-align: center;
	width: 15.4%;
	height: 2rem;
	line-height: 2rem;
	border-left: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #e2e2e2;
	-webkit-appearance: none;
	appearance: none;
}

#password .pass.active-num:after {
	position: absolute;
	top:50%;
	margin-top: -0.4rem;
	left: 50%;
	margin-left: -0.4rem;
	border-radius: 50%;
	content: '';
	display: block;
	width: 0.8rem;
	height:0.8rem;
	background-color:#333333;
}

#keyboardDIV {
	position: relative;
	margin: 0;
	background-color:#e2e2e2;width:99.5%;
}

#keyboard {
	overflow-x: hidden;
	margin: 0 auto;
	list-style: none;
	border-top: 1px solid #e2e2e2;
	font-size:0.7rem;
}

#keyboard .liboxs{display:flex;display:-webkit-flex;justify-content:space-between;align-items: center;}
#keyboard li {
	margin-bottom:1px;
	width: 33.1%;
	height:2rem;
	line-height: 2rem;
	text-align: center;
	background: #fff;
}
#keyboard li.bg-gray{background:#e2e2e2;}
#keyboard li span{font-size: 0.9rem;}

.btn_number {
	width: 33.1%;
}

#keyboard .cancle {
	width: 33.1%;
	font-size: 0.7rem;
	background-color: #e2e2e2;
}

#keyboard .delete {
	width: 33.1%;
	font-size: 0.7rem;
	background-color: #e2e2e2;
}

.on {
	display: none;
}
