 .el-dropdown-menu {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                padding: 10px 0;
                margin: 5px 0;
                background-color: #fff;
                border: 1px solid #ebeef5;
                border-radius: 4px;
                box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            }
            .el-dropdown-menu__item {
                list-style: none;
                line-height: 36px;
                padding: 0 20px;
                margin: 0;
                font-size: 14px;
                color: #606266;
                cursor: pointer;
                outline: 0;
            }
            .el-popper[x-placement^=bottom] .popper__arrow {
                top: -4px;
                left: 50%;
                margin-right: 3px;
                border-top-width: 0;
                border-bottom-color: #ebeef5;
            }
            .el-popper .popper__arrow, .el-popper .popper__arrow:after {
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
            }
            .el-message {
                min-width: 380px;
                box-sizing: border-box;
                border: 1px solid #ebeef5;
                position: fixed;
                left: 50%;
                top: 20px;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                background-color: #edf2fc;
                transition: opacity .3s,-webkit-transform .4s;
                transition: opacity .3s,transform .4s;
                transition: opacity .3s,transform .4s,-webkit-transform .4s;
                padding: 15px 15px 15px 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
            .el-message-success {
                background-color: #f0f9eb;
                border-color: #e1f3d8;
            }
            .el-message-success .el-message__content {
                color: #67c23a;
            }
            .el-message__icon{
                width: 20px;
                height: 20px;
                background: url(yes.png) center no-repeat;
                display: inline-block;
                background-size:18px;
                margin-right: 10px;
            }
            .el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
                background-color: #ecf5ff;
                color: #66b1ff;
            }
    .el-dialog {
    		position: relative;
    		margin: 0 auto 50px;
   			border-radius: 2px;
   			background: #fff;
   		 	box-shadow: 0 1px 3px rgba(0,0,0,.3);
    		box-sizing: border-box;
			text-align: center;
		}
            .nav_hread_img{
                padding-bottom: 15px;
                float: right;
                margin-left: 20px;
                padding-right: 30px;
            }
            .nav_hread_img img{
                width: 25px;
                height: 25px;
                vertical-align: middle;
                border-radius: 50%;
            }
		.el-dialog__header {
    		padding-top: 30px;
    		padding: 15px 15px 10px;
		}
		.loginModal .el-menu{
    		width: auto !important;
    		overflow: hidden !important;
   			padding-left: 0;
    		display: inline-block; 
    		border-bottom: none;
		}
		.el-menu--horizontal>.el-menu-item.is-active{
    		border-bottom: 2px solid #e5000b;
    		color: #e5000b;
		}
		.el-menu--horizontal>.el-menu-item{
    		font-size: 16px;
    		color: #3d3e41;
    		padding: 0 5px;
    		margin: 0 20px;
		}
		.el-menu--horizontal .el-menu-item {
    float: left;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;

}
.el-dialog__body {
	padding: 25px 27px 30px;
    color: #606266;
    line-height: 24px;
    font-size: 14px;
}
.el-input {
	 margin-bottom: 20px;
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 1;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.el-button.login-btn{
    background: #e5000b;
    color: #fff;
}
.login-btn{
    width: 100%;
    margin-top: 20px;
}
.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.el-dialog__headerbtn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
}
.el-input-group__append, .el-input-group__prepend {
    background-color: #f5f7fa;
    color: #909399;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 0 20px;
    width: 1px;
    margin: -20px;
    white-space: nowrap;
}
.el-input-group>.el-input__inner {
    vertical-align: middle;
        border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: table-cell;

}
.el-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
}
.el-input-group__append .el-button{
	border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-top: 0;
    border-bottom: 0;
}
.el-dialog__wrapper {
    position: fixed;
    top: 0;
    z-index: 2010;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
}
.zhenzhao{
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;  
}
.nav__search__control,.nav__search__result__item.nav__search__controlf{
  cursor: pointer;
}
.avatar{
  margin-right: 4px;
      float: left;
}
.nav__search__controlf img{
  width:15px;height: 15px;    display: block;
    padding-top: 3px;border-radius: 50%;
}
.nav__search__result__item:hover{background-color:#edf0f5}
.nav__search__result__container{position:absolute;z-index:1;font-size:14px;padding-top:13px; 
    top: 42px;width:184px}.nav__search__result{background-color:#fff;box-shadow:0 2px 3px rgba(0,0,0,.2)}.nav__search__result__list__hd{display:block;padding:6px 15px;color:#666c72;background-color:#f9f9f9}.nav__search__result__list__hd .more{margin-top:2px;float:right;font-size:13px}.nav__search__result__list__hd .more .iconfont{color:#888e94;vertical-align:middle}.nav__search__control.active{background-color:#edf0f5}.nav__search__result__item{padding:6px 15px;display:block;color:#33353c;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.nav__search__result__item .user-name{margin-left:10px;vertical-align:middle}.nav__search__result__item strong{color:#07d;font-weight:400}.nav__search__result__more{display:block;padding:6px 10px;text-align:center}.nav__search__result__more a{color:#2c78cc}