.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.pr {
  position: relative;
}
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  background: #f6f6f6;
  -webkit-text-size-adjust: 100%;
  font-family: "microsoft yahei";
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
input:focus {
  outline: none;
}
.dropload-load{
  cursor: pointer;
}
.dropload-load:hover{
 color: #dc1e33;
}
.avatar{
  border-radius: 50%;
}
.limit-one{
  overflow: hidden;/*超出部分隐藏*/
  white-space: nowrap;/*不换行*/
  text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.limit-three{
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.cont_center {
  width: 1200px;
  margin: 0 auto;
}
.index_hread_one {
  height: 60px;
  width: 100%;
  background: #444444;
  border-bottom: 1px #e4e6e9 solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.index_hread_one .cont_center {
  position: relative;
}
.index_hread_one .logo_icon {
  width: 103px;
  cursor: pointer;
  height: 35px;
  float: left;
  margin-top: 12px;
}
.index_hread_one .nav_box {
  margin-left: 25px;
}
.index_hread_one .nav_box a {
  padding: 0 17px;
  font-size: 16px;
  color: #fff;
  float: left;
  line-height: 60px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.index_hread_one .nav_box a.active {
  background: #585858;
}
.index_hread_one .nav_box a:hover {
  background: #585858;
}
.index_hread_one .nav_box_seach {
  position: relative;
  padding-top: 12px;
  width: 184px;
  float: right;
}
.index_hread_one .nav_box_seach input {
  width: 184px;
  height: 35px;
  background: #696969;
  border-radius: 4px;
  border: 0;
  padding-left: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
}
.index_hread_one .nav_box_seach .one_input::-webkit-input-placeholder {
  color: #fff;
}
.index_hread_one .nav_box_seach .one_input:-moz-placeholder {
  color: #fff;
}
.index_hread_one .nav_box_seach .one_input::-moz-placeholder {
  color: #fff;
}
.index_hread_one .nav_box_seach .one_input:-ms-input-placeholder {
  color: #fff;
}
.index_hread_one .nav_box_seach .seach_icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 21px;
  display: inline-block;
  background: url(../img/seach_icon.png) no-repeat;
}
.index_hread_one .loginstatus{
margin-top: 18px;
}
.index_hread_one .logo_icon_txt {
  margin: 0 10px;
  padding-right: 10px;
  font-size: 16px;
  color: #fff;
  float: right;
  border-right: solid 1px #e6e6e6;
}
.index_hread_one .zhuce_icon_txt {
  font-size: 16px;
  color: #fff;
  float: right;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.index_hread_two {
  width: 100%;
  background: #fff;
  border-bottom: 1px #e4e6e9 solid;
  height: 49px;
  line-height: 49px;
  position: fixed;
  top: 61px;
  font-size: 12px;
  z-index: 2;
}
.index_hread_two .hread_two_txt {
  padding: 0 22px;
  position: relative;
  float: left;
}
.index_hread_two .hread_two_txt:after {
  content: " ";
  display: block;
  position: absolute;
  height: 10px;
  background: #e4e6e9;
  width: 1px;
  right: 0;
  top: 20px;
}
.index_hread_two .hread_two_txt label {
  float: left;
}
.index_hread_two .hread_two_txt .dom_icon {
  float: left;
  background: url(../img/jiantou_31.png) right center no-repeat;
  display: inline-block;
  padding-right: 20px;
  line-height: 49px;
  color: #19b56d;
  margin-left: 10px;
}
.index_hread_two .hread_two_txt .up_icon {
  float: left;
  background: url(../img/jiantou_34.png) right center no-repeat;
  display: inline-block;
  padding-right: 20px;
  line-height: 49px;
  color: #ec2546;
  margin-left: 10px;
}
.index_cont {
  padding-top: 60px;
}
.bigbanner {
  width: 575px;
  height: 299px;
  position: relative;
  float: left;
}
.bigbanner .banner_img {
  position: relative;
}
.bigbanner .banner_img img {
  width: 575px;
  height: 299px;
  cursor: pointer;
}
.bigbanner .new_prev_icon {
	
  width: 50px;
  height: 52px;
  background: url(../img/left_right_btn_07.jpg) no-repeat;
  background-size: 50px 52px;
  opacity: 0.8;
  z-index: 9999;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -25px;
    overflow: hidden;
}
.bigbanner .new_next_icon {
  width: 50px;
  height: 52px;
  background: url(../img/left_right_btn_09.jpg) no-repeat;
  background-size: 50px 52px;
  opacity: 0.8;
    z-index: 9999;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -25px;
    overflow: hidden;
}
.bigbanner .boottom_bg_txt {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding-left: 20px;
  height: 53px;
  font-size: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 53px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.big_banner_tion .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background: #837968;
}
.big_banner_tion .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
}
.big_banner_tion {
  width: 62px !important;
  right: 50px !important;
  left: auto !important;
  bottom: 15px !important;
}
.big_banner_tion {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.banner_right {
  width: 260px;
  float: left;
  margin-left: 15px;
}
.banner_right .banner_right_list {
  width: 260px;
  height: 143px;
  position: relative;
}
.banner_right .banner_right_list img {
  width: 260px;
  cursor: pointer;
  height: 143px;
}
.banner_right .banner_right_list .boottom_bg_txt {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding-left: 20px;
  height: 32px;
  font-size: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 32px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.banner_right .banner_right_list + .banner_right_list {
  margin-top: 12px;
}
.banner_right_zui {
  margin-left: 20px;
  width: 330px;
  float: left;
}
.banner_right_zui .banner_right_zui_list {
  width: 330px;
  height: 96px;
  display: inline-block;
}
.banner_right_zui .banner_right_zui_list img {
  width: 100%;
  height: 100%;
}
.banner_right_zui .banner_right_zui_list + .banner_right_zui_list {
  margin-top: 5px;
}
.cont_body {
  margin-top: 15px;
}
.cont_body .cont_body_left {
  border: 1px #e9e9e9 solid;
  padding: 0 20px;
  width: 850px;
  background: #fff;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.cont_body .cont_body_left .sec-panel-head {
  position: relative;
  padding: 0 15px;
}
.cont_body .cont_body_left .sec-panel-head .list.tabs {
  font-size: 0;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
  overflow-x: hidden;
}
.cont_body .cont_body_left .sec-panel-head .list.tabs .tab {
  position: relative;
  display: inline-block;
  margin-right: 31px;
  vertical-align: middle;
}
.list.tabs .tab a {
  display: block;
  font-size: 16px;
  color: #666666;
  line-height: 48px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
.list.tabs .tab a:hover {
  color: #3d3e41;
}
.list.tabs .tab.active a {
  color: #3ca5f6;
  font-weight: 500;
  color: #3d3e41;
  border-bottom: 2px solid #3d3e41;
}
.list.tabs .tab.active a {
  border-bottom-color: #3d3e41;
}
.cont_body_left_cont ul li {
  cursor: pointer;
  padding: 20px 0;
  border-bottom: 1px solid #EFEFEF;
  overflow: hidden;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.cont_body_left_cont ul li:hover {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px 20px;
  background: #fafafa;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.cont_body_left_cont ul li .item-img {
  position: relative;
  float: left;
  width: 245px;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}
.cont_body_left_cont ul li .item-img img:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.cont_body_left_cont ul li .item-img img {
  width: 100%;
  height: 153px;
  vertical-align: top;
}
.cont_body_left_cont ul li .item-content {
  position: relative;
  margin-left: 265px;
  min-height: 152px;
}
.cont_body_left_cont ul li .item-content .item-title {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
}
.cont_body_left_cont ul li .item-content .item-title:hover {
color: #dc1e33;
}
.cont_body_left_cont ul li .item-content .item-excerpt {
  height: 44px;
  line-height: 22px;
  color: #a9a9a9;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.cont_body_left_cont ul li .item-content p {
  margin: 0 0 10px;
}
.cont_body_left_cont ul li .item-content .item-meta {
  position: absolute;
  bottom: 0;
  color: #999;
  font-size: 13px;
}
.cont_body_left_cont ul li .item-content .item-meta .nickname {
  line-height: 28px;
  margin-left: 10px;
  display: inline-block;
}
.cont_body_left_cont ul li .item-content .item-meta .item-meta-li {
  float: left;
}
.cont_body_left_cont ul li .item-content .item-meta .qiye_icon {
  background: url(../img/xiao_icon_77.png) left 9px no-repeat;
  font-size: 14px;
  color: #a9a9a9;
  padding-left: 18px;
  float: left;
  height: 29px;
  line-height: 29px;
  margin-left: 20px;
}
.cont_body_left_cont ul li .item-content .item-meta .time_icon {
  background: url(../img/xiao_icon_74.png) left center no-repeat;
  font-size: 14px;
  color: #a9a9a9;
  padding-left: 18px;
  float: left;
  height: 29px;
  line-height: 29px;
  margin-left: 20px;
}
.cont_body_right {
  float: left;
  margin-left: 20px;
}
.cont_body_right .cont_body_right_one {
  border: 1px #e9e9e9 solid;
  width: 330px;
  margin-bottom: 16px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.cont_body_right .cont_body_right_one .widget-title {
  margin: 0 0 24px;
  padding: 0px 0 0px 13px;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #585858;
  border-left: 4px solid #e5000b;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.cont_body_right .cont_body_right_one .widget-title .more_txt {
  float: right;
  color: #a9a9a9;
  font-size: 14px;
}
.cont_body_right .cont_body_right_one ul {
  margin-top: 15px;
}
.cont_body_right .cont_body_right_one ul li {
  padding: 15px 0;
  cursor: pointer;
}
.cont_body_right .cont_body_right_one ul li img {
  width: 80px;
  height: 80px;
  float: left;
}
.cont_body_right .cont_body_right_one ul li .more_one_list_left {
  margin-left: 100px;
}
.cont_body_right .cont_body_right_one ul li .more_one_list_left h1 {
  color: #282828;
  font-size: 16px;
}
.cont_body_right .cont_body_right_one ul li .more_one_list_left h1:hover {
  color: #dc1e33;
}
/*.cont_body_right .cont_body_right_one ul li .more_one_list_left span:hover {
  color: #dc1e33;
}*/
.more_one_list_left h1{
  padding-top:6px;
}
.cont_body_right .cont_body_right_one ul li .more_one_list_left h1 span {
  font-size: 14px;
  color: #a8a8a8;
}
.cont_body_right .cont_body_right_one ul li .more_one_list_left p {
  height: 38px;
  font-size: 14px;
  color: #585858;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 20px;
}
.cont_body .cont_body_right_one .more_two_list_left,.cont_center .cont_body_right_one .more_two_list_left {
  padding-left: 20px;
  height: 38px;
  font-size: 14px;
  color: #585858;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.banner_right_zui.new_right {
  margin-left: 0;
  float: none;
  margin-bottom: 16px;
}
.color_eee {
  color: #969696 !important;
}
.right_one_table .right_one_table_hread {
  color: #7e7e80;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
}
.right_one_table .right_one_table_hread span {
  width: 33.33%;
  float: left;
  display: inline-block;
}
.right_one_table .right_one_table_hread span.txt_center {
  text-align: center;
}
.right_one_table .right_one_table_hread .color_f56c6c {
  color: #f56c6c;
}
.right_one_table .right_one_table_hread .color_28c245 {
  color: #28c245;
}
.right_one_table .right_one_table_list {
  color: #7e7e80;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
}
.right_one_table .right_one_table_list span {
  width: 33.33%;
  float: left;
  display: inline-block;
}
.right_one_table .right_one_table_list span.txt_center {
  text-align: center;
}
.right_one_table .right_one_table_list .color_7e98db {
  color: #7e98db;
}
.right_one_table .right_one_table_list .color_19b56d {
  color: #19b56d;
}
.right_one_table .right_one_table_list .color_ec2546 {
  color: #ec2546;
}
.tab_list_icon {
  border-radius: 4px;
  border: 1px #e4e6e9 solid;
  text-align: center;
  height: 39px;
  font-size: 12px;
  line-height: 39px;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  padding: 0 10px;
}
.tab_list_icon.active{
  color: rgb(255, 255, 255);
    background-color: rgb(245, 108, 108);
}

.margin_top20 {
  margin-top: 30px;
}
.footer_box {
  text-align: center;
  color: #7e7e80;
  background: #282828;
  font-size: 14px;
  margin-top: 40px;
/*  height:70px;
  line-height: 70px;*/
}
.footer_box .bottom{
  height:70px;
  line-height: 70px;
}
.index_hread_two ~ .index_cont {
  padding-top: 132px;
}
.index_cont_screen {
  height: 53px;
  line-height: 53px;
  color: #585858;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.index_cont_screen .screen_txt {
  line-height: 53px;
  color: #585858;
  float: left;
}
.index_cont_screen .select_box {
  float: left;
  position: relative;
}
.index_cont_screen .select_box span.select_box_icon {
  padding-right: 20px;
  background: url(../img/xiala_list_08.png) right center no-repeat;
  margin-left: 15px;
}
.index_cont_screen .select_box .select_box_cont {
  position: absolute;
  width: 200px;
  height: 200px;
  overflow-y: auto;
  border: 1px #eee solid;
  display: none;
  background: #fff;
}
.index_cont_screen .select_box .select_box_cont a {
  line-height: 25px;
  font-size: 12px;
  color: #333;
  padding-left: 10px;
  width: 100%;
  display: inline-block;
  float: left;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.index_cont_screen .select_box .select_box_cont a:hover {
  background: #eee;
}
/*.select_box:hover .select_box_cont {
  display: block;
}*/
.paging_box {
  float: right;
}
.paging_box .paging_num {
  color: #585858;
  font-size: 14px;
  float: left;
}
.paging_box .paging_num span.curent {
  font-size: 18px;
  color: #e5000b;
  margin-right: 5px;
}
.paging_box .paging_left {
  padding: 0 15px;
  width: 7px;
  height: 54px;
  background: url(../img/left_right_icon_09.png) center no-repeat;
  float: left;
}
.paging_box .paging_right {
  padding: 0 15px;
  width: 7px;
  height: 54px;
  background: url(../img/left_right_icon_11.png) center no-repeat;
  float: left;
}
.jy_list_box {
  margin-left: -7px;
  margin-right: -7px;
}
.jy_list_box .jy_list {
  padding: 0 7px;
  display: inline-block;
  float: left;
  margin-bottom: 13px;
}
.jy_list_box .jy_list .jy_list_cont {
  width: 288px;
  height: 398px;
  border: 1px #e9e9e9 solid;
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.jy_list_box .jy_list .jy_list_cont .jy_list_cont_hread {
  width: 286px;
  height: 124px;
  border-bottom: 1px #e9e9e9 solid;
}
.jy_list_box .jy_list .jy_list_cont .jy_list_cont_txt {
  padding: 15px;
  border-bottom: 1px #E9E9E9 solid;
}
.jy_list_box .jy_list .jy_list_cont .jy_list_cont_txt h1 {
  font-size: 18px;
  color: #585858;
  line-height: 20px;
  margin-bottom: 15px;
}
.jy_list_box .jy_list .jy_list_cont .jy_list_cont_txt p {
  height: 70px;
  font-size: 14px;
  color: #a9a9a9;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 25px;
}
.jy_list_box .jy_list .jy_list_cont .jy_list_cont_footer {
  padding: 20px 20px 0 20px;
}
.jy_list_box .jy_list .jy_list_cont .jy_list_cont_footer p {
  color: #585858;
  font-size: 14px;
  margin-bottom: 15px;
}
.jy_list_cont:hover {
  -moz-box-shadow: 2px 2px 8px #e1e0e0;
  -webkit-box-shadow: 2px 2px 8px #e1e0e0;
  box-shadow: 2px 2px 8px #e1e0e0;
}
.jy_list_paging {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.jy_list_paging a,.jy_list_paging span{
      margin-right: 5px;
  border: 1px #e9e9e9 solid;
  height: 32px;
  background: #fff;
  line-height: 32px;
  padding: 0 10px;
  color: #585858;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
.jy_list_paging a.active,.jy_list_paging span.active {
  background: #e5000b;
  color: #fff;
}
.jy_list_paging a:hover {
  background: #e5000b;
  color: #fff;
}
.jy_list_info_hread {
  border: 1px #e9e9e9 solid;
  background: #fff;
  margin-top: 20px;
  padding: 24px 22px;
  margin-bottom: 16px;
}
.jy_list_info_hread_img {
  width: 288px;
  height: 126px;
  float: left;
}
.jy_list_info_hread .jy_list_info_hread_txt {
  margin-left: 315px;
}
.jy_list_info_hread .jy_list_info_hread_txt h1 {
  line-height: 40px;
  color: #585858;
  font-size: 18px;
}
.jy_list_info_hread .jy_list_info_hread_txt h2 {
  line-height: 25px;
  color: #a9a9a9;
  font-size: 14px;
}
.jy_list_info_hread .jy_list_info_hread_txt .info_hread_footer {
  font-size: 14px;
  color: #585858;
  padding-top: 15px;
}
.jy_list_info_hread .jy_list_info_hread_txt .info_hread_footer span.margin_left {
  margin-right: 50px;
}
.color_one {
  color: #04a723;
}
.color_two {
  color: #feb900;
}
.color_three {
  color: #56a9e0;
}
.jy_list_cont_top {
  cursor: pointer;
  padding: 20px;
  text-align: center;
  border-bottom: 1px #f5f5f5 solid;
}
.jy_list_cont_top img {
  margin-bottom: 5px;
}
.jy_list_cont_top h1 {
  color: #282828;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 3px;
  font-weight: normal;
}
.jy_list_cont_top h2 {
  color: #969696;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 3px;
}
.jy_list_cont_top p {
  color: #585858;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  text-align: left;
}
.look_icon {
  height: 46px;
  line-height: 46px;
  text-align: center;
  color: #a9a9a9;
  font-size: 14px;
  background: #ffffff;
  width: 100%;
  display: inline-block;
}
.jy_list_box .jy_list .jy_list_cont.height_auto {
  height: auto;
}
.txt_center_box {
  text-align: center;
}
.txt_center_box a {
  padding: 0 19px;
  position: relative;
  font-size: 16px;
  line-height: 48px;
  display: inline-block;
}
.txt_center_box a.active {
  color: #e5000b;
  border-bottom: 2px solid #e5000b;
}
/*.txt_center_box a.active:after {
  position: absolute;
  left: 19px;
  height: 2px;
  right: 19px;
  background: #e5000b;
  bottom: -2px;
  content: " ";
}*/
.txt_center_box a:hover {
  color: #e5000b;
}
.index_hread_two ~ .index_cont.new_padd_top {
  padding-top: 110px;
}
.screen_txt_new {
  font-size: 14px;
  color: #585858;
  margin-left: 15px;
}
.screen_txt_new.active {
  color: #e5000b;
}

.qu_kuai_box {
  margin-left: -8px;
  margin-right: -8px;
}
.qu_kuai_box .qu_kuai_box_list {
  padding: 0 7px;
  float: left;
  margin-bottom: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.qu_kuai_box .qu_kuai_box_list .qu_kuai_box_list_cont {
  cursor: pointer;
  width: 390px;
  height: 184px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fff;
  padding: 23px 39px;
  border: 1px #e9e9e9 solid;
}
.qu_kuai_box .qu_kuai_box_list .qu_kuai_box_list_cont .qu_kuai_box_list_cont_hread {
  padding-bottom: 20px;
  border-bottom: 1px #eeeeee solid;
}
.qu_kuai_box .qu_kuai_box_list .qu_kuai_box_list_cont .qu_kuai_box_list_cont_hread img {
  width: 80px;
  height: 80px;
  float: left;
}
.qu_kuai_box .qu_kuai_box_list .qu_kuai_box_list_cont .qu_kuai_box_list_cont_hread .cont_hread_txt {
  margin-left: 93px;
}
.qu_kuai_box .qu_kuai_box_list .qu_kuai_box_list_cont .qu_kuai_box_list_cont_hread .cont_hread_txt h1 {
  font-size: 18px;
  color: #282828;
  line-height: 40px;
}
.qu_kuai_box .qu_kuai_box_list .qu_kuai_box_list_cont .qu_kuai_box_list_cont_hread .cont_hread_txt h1 span {
  color: #A8A8A8;
  font-size: 14px;
}
.qu_kuai_box .qu_kuai_box_list .qu_kuai_box_list_cont .qu_kuai_box_list_cont_hread .cont_hread_txt p {
  height: 38px;
  font-size: 14px;
  color: #7e7e80;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 20px;
}
.gongzheng_icon {
  padding-left: 22px;
  background: url(../img/icon_lianqu_24.jpg) left center no-repeat;
  color: #a9a9a9;
  font-size: 14px;
  margin-top: 20px;
  float: left;
  width: 90px;
}
.newhouse_icon {
  padding-left: 22px;
  background: url(../img/icon_lianqu_22.jpg) left center no-repeat;
  color: #a9a9a9;
  font-size: 14px;
  margin-top: 20px;
  float: left;
  width: 90px;
}
.bignum_icon {
  padding-left: 22px;
  background: url(../img/icon_lianqu_27.jpg) left center no-repeat;
  color: #a9a9a9;
  font-size: 14px;
  margin-top: 20px;
  float: left;
}
.bignum_icons{
  padding-left: 22px;
  color: #a9a9a9;
  font-size: 14px;
  margin-top: 20px;
  float: left;
}
.bignum_icons a{
  color: #a9a9a9;
}
.bignum_icons a:hover{
  color: #dc1e33;
}
.qu_kuai_box_list_cont:hover {
  -moz-box-shadow: 2px 2px 8px #e1e0e0;
  -webkit-box-shadow: 2px 2px 8px #e1e0e0;
  box-shadow: 2px 2px 8px #e1e0e0;
}
.look_icon:hover {
  color: #e5000b;
}
.padd_left_right.padd_left_right a {
  padding: 0 13px;
}
.project_info {
  border: 1px #e9e9e9 solid;
  padding: 29px;
  background: #fff;
  margin-top: 21px;
}
.project_info .project_img {
  width: 170px;
  height: 170px;
  float: left;
}
.project_info .project_txt {
  margin-left: 24px;
  width: 860px;
  float: left;
}
.project_info .project_txt h1 {
  font-size: 24px;
  font-weight: normal;
  line-height: 43px;
}
.project_info .project_txt h1 span {
  font-size: 14px;
  color: #a8a8a8;
}
.project_info .project_txt .project_txt_pice {
  padding: 5px 0;
  height: 33px;
}
.project_info .project_txt .project_txt_pice label {
  font-size: 24px;
  color: #585858;
  float: left;
}
.project_info .project_txt .project_txt_pice .pice_span {
  width: 49px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  background: #3ca316;
  border-radius: 2px;
  margin-top: 6px;
  margin-left: 8px;
}
.project_info .project_txt h4 {
  width: 100%;
  font-size: 14px;
  color: #585858;
  line-height: 18px;
  text-align: left;
  width: 790px;
  font-weight: normal;
  line-height: 20px;
}
.project_info .project_pinlun {
  width: 80px;
  padding-top: 60px;
  float: right;
}
.project_info .project_pinlun .project_pinlun_num {
  width: 144px;
  text-align: right;
  font-size: 42px;
  color: #f5a623;
  float: left;
}
.project_info .project_pinlun .project_pinlun_num span {
  font-size: 12px;
}
.project_info .project_pinlun .project_pinlun_star {
  height: 50px;
  width: 125px;
  float: left;
  padding-left: 10px;
}
.project_info .project_pinlun .project_pinlun_star h1 {
  color: #3d3e41;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding-top: 5px;
}
.project_info .project_pinlun .project_pinlun_star .star_box {
  padding: 5px 0;
}
.project_info .project_pinlun .project_pinlun_star .star_box .star_list {
  width: 16px;
  height: 16px;
  background: url(../img/xq_img_08.jpg) no-repeat;
  background-size: 16px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.project_info .project_pinlun .project_pinlun_star .star_box .star_list.active {
  background: url(../img/xq_img_06.jpg) no-repeat;
  background-size: 16px;
}
.project_info .project_pinlun .dianpin_icon {
  width: 94px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  border-radius: 2px;
  background: #e5000b;
  display: inline-block;
  margin-top: 15px;
  margin-left: -20px;
  position: relative;
}
.project_info_left {
  border: 1px #e9e9e9 solid;
  background: #fff;
  width: 850px;
  float: left;
  margin-top: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.project_info_left_hread {
  border-bottom: 1px #f5f5f5 solid;
  height: 47px;
  line-height: 47px;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.project_info_left_hread a {
  padding: 0 19px;
  color: #585858;
  font-size: 16px;
  height: 47px;
  display: inline-block;
  position: relative;
}
.project_info_left_hread a.active:after {
  position: absolute;
  left: 19px;
  height: 2px;
  right: 19px;
  background: #e5000b;
  bottom: -1px;
  content: " ";
}
.project_info_left_body {
  padding: 0 33px 40px 10px;
  border-bottom: 1px #f5f5f5 solid;
  background: #fff;

  color:#585858;
  font-size: 14px;
}
.project_info_left_body h1{
 font-weight: bold;
  font-size: 16px;
}
.project_info_left_body h2{
padding:15px 0;
}
.project_info_left_body p{
word-wrap: break-word;
font-size: 16px;
line-height: 26px;
margin-bottom: 20px;
}
.project_info_left_body .body_little {
  padding-left: 10px;
  border-left: 4px #e5000b solid;
  font-size: 18px;
  line-height: 18px;
  color: #585858;
  margin-top: 40px;
}
.project_info_left_body .body_secondlittle {
  line-height: 25px;
  font-size: 12px;
  margin-top: 20px;
}
.body_people_list {
  float: left;
  text-align: center;
  padding: 0 30px;
  width: 200px;
}
.body_people_list img {
  width: 152px;
  height: 152px;
  margin-bottom: 20px;
}
.body_people_list h1 {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
}
.body_people_list h2 {
  font-size: 12px;
  color: #7e7e7e;
  line-height: 30px;
  font-weight: normal;
}
.body_people_list p {
  font-size: 14px;
  color: #666666;
  line-height: 25px;
}
.body_people {
  margin-top: 40px;
}
.body_secondlittle.red_txt {
  color: #e5000b;
}
.margin_top10 {
  margin-top: 20px;
}
.cont_body_right .cont_body_right_one ul li.new_list_line .more_one_list_left {
  float: left;
  margin-right: 30px;
  margin-left: 0;
  width: 145px;
}
.cont_body_right .cont_body_right_one ul li.new_list_line .more_one_list_left p {
  margin-top: 3px;
}
.cont_body_right .cont_body_right_one ul li.new_list_line img {
  width: 110px;
  height: 65px;
}
.dis {
  display: none;
}
.project_info_left_fk_list {
  padding: 0 15px;
  float: left;
  text-align: center;
  margin-bottom: 30px;
}
.project_info_left_body.new_fanke {
  padding: 40px 23px 0 35px;
}
.project_info_left_body.new_fanke img {
  margin-bottom: 14px;
}
.project_info_left_body.new_fanke h3 {
  font-size: 12px;
  color: #444444;
  line-height: 20px;
  font-weight: normal;
}
.project_info_left_body.new_fanke p {
  font-size: 12px;
  color: #bbbbbb;
  line-height: 20px;
}
.project_info_left_body.pinlun_box {
  padding: 23px 29px;
}
.project_info_left_body.pinlun_box .pinlun_box_hread {
  border: 1px #f0f0f0 solid;
  background: #f5f5f5;
}
.project_info_left_body.pinlun_box .pinlun_box_hread label {
  border-right: 1px #ececec solid;
  width: 44px;
  height: 100%;
  float: left;
  padding: 22px 13px 25px 18px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 12px;
  color: #a9a9a9;
}
.project_info_left_body.pinlun_box .pinlun_box_hread .pinlun_box_icon {
  margin-left: 44px;
  padding: 18px 18px 4px 18px;
}
.project_info_left_body.pinlun_box .pinlun_box_hread .pinlun_box_icon a {
  height: 28px;
  line-height: 28px;
  border: 1px #d6d6d6 solid;
  border-radius: 25px;
  color: #e5000b;
  background: #fff;
  font-size: 14px;
  display: inline-block;
  padding: 0 17px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
}
.project_info_left_body.pinlun_box .pinlun_box_checkbox {
  padding: 15px 0 25px 15px;
}
.project_info_left_body.pinlun_box .pinlun_box_checkbox .radio_icon {
  margin-right: 10px;
  float: left;
  margin-top: 4px;
}
.project_info_left_body.pinlun_box .pinlun_box_checkbox label {
  float: left;
  color: #585858;
  font-size: 14px;
  margin-right: 10px;
}
.pinlun_list_hread {
  width: 60px;
  height: 60px;
  float: left;
}
.pinlun_list_txt {
  float: left;
  width: 700px;
  margin-left: 18px;
  padding-bottom: 15px;
  border-bottom: 1px #f5f5f5 solid;
}
.pinlun_list_txt h1 {
  font-size: 12px;
  color: #333;
  line-height: 25px;
}
.pinlun_list_txt .pinlun_list_star {
  padding: 5px 0;
  margin-bottom: 15pxpx;
}
.pinlun_list_txt .pinlun_list_star .star_list {
  width: 16px;
  height: 16px;
  background: url(../img/xq_img_08.jpg) no-repeat;
  background-size: 16px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.pinlun_list_txt .pinlun_list_star .star_list.active {
  background: url(../img/xq_img_06.jpg) no-repeat;
  background-size: 16px;
}
.pinlun_list_txt .pinlun_list_star .time_right_txt {
  float: right;
  font-size: 12px;
  color: #b0b0b0;
}
.pinlun_list_txt p {
  font-size: 14px;
  color: #333;
  line-height: 20px;
}
.pinlun_list_txt .zhankai_txt {
  float: right;
  font-size: 12px;
  color: #999999;
  padding-right: 16px;
  background: url(../img/jiantou_60.jpg) right center no-repeat;
}
.pinlun_list:last-child .pinlun_list_txt {
  border-bottom: 0;
}
.lable_txt {
  color: #969696;
  font-size: 14px;
  margin-left: 40px;
  float: left;
  margin-top: 20px;
}
.lable_txt a {
  color: #0028a8;
}
.lable_txt a:hover {
  color: #e5000b;
}
.body_little_new {
  font-size: 18px;
  line-height: 18px;
  color: #585858;
  margin-top: 40px;
  font-weight: bold;
}
.body_little_p {
  padding: 40px 0;
}
.body_little_p p {
  color: #585858;
  font-size: 14px;
  line-height: 25px;
}
.body_little_p p span {
  font-weight: bold;
}
.form_box .form_box_txt_right {
  padding-top: 10px;
  padding-bottom: 20px;
  float: left;
}
.form_box .star_box {
  margin-left: 90px;
  padding-top: 12px;
}
.form_box .star_box .star_list {
  width: 16px;
  height: 16px;
  background: url(../img/xq_img_08.jpg) no-repeat;
  background-size: 16px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}
.form_box .star_box .star_list.active {
  background: url(../img/xq_img_06.jpg) no-repeat;
  background-size: 16px;
}
.form_box .star_box textarea {
  width: 663px;
  height: 158px;
  background: #f5f5f5;
  border: 1px #e4e6e9 solid;
  padding: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}
.subime_icon {
  width: 94px;
  height: 33px;
  border-radius: 4px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background: #e5000b;
  display: inline-block;
  margin-top: 20px;
  margin-left: 90px;
}
.footer_box_little {
  padding: 20px 0 0 0;
  text-align: left;
}
.footer_box_little h1 {
  font-size: 16px;
  color: #949498;
  margin-bottom: 15px;
}
.footer_box_little .footer_box_lable {
  padding-bottom: 15px;
  border-bottom: 1px #949498 solid;
}
.footer_box_little .footer_box_lable a {
  margin-bottom: 10px;
  float: left;
  margin-right: 15px;
  color: #949498;
  font-size: 14px;
}
.bottom_footer_little {
  line-height: 70px;
}
.index_cont_screen .select_box .select_box_cont {
  width: 550px;
  height: 313px;
  background: #fff;
  padding: 10px 0;
  top: 45px;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-shadow: 2px 2px 8px #eee;
  -webkit-box-shadow: 2px 2px 8px #eee;
  box-shadow: 2px 2px 8px #eee;
}
.index_cont_screen .select_box .select_box_cont a {
  line-height: 36px;
  font-size: 12px;
  color: #333;
  width: 110px;
  text-align: center;
  display: inline-block;
  float: left;
  padding-left: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.index_cont_screen .select_box .select_box_cont a:hover {
  color: #fff;
  background: #e5000b;
}
.index_cont_screen .select_box .select_box_cont.new_width {
  width: 110px;
  height: auto;
}
